<!DOCTYPE HTML>
{% load staticfiles %}
    
<html>
    <head>
        <title>Django MongoDB Viewer</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.min.css">

        <link rel="stylesheet" href="{% static 'css/viewer.css' %}">   
    </head>
    
    <body>
        
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <p class="navbar-brand" href="viewer">MongoDB Viewer <sup>{{version}}</sup></p>
                <ul class="nav navbar-nav">
                    <li><a href="/viewer/">List</a></li>
                    <li><a href="/viewer/new">New</a></li>
                </ul>

                {% if status %}
                    <p class="navbar-text pull-right"><b><font color="green">Connected</font></p>
                {% else %}
                    <p class="navbar-text pull-right"><b><font color="red">Not connected</font></b></p>
                {% endif%}
            </div>
        </nav>
        
        <div class="container">
            <div class="alert alert-danger" id="response_error" style="display: none;"></div>
            {% if success_msg %}
                <div class="alert alert-success">{{success_msg}}</div>
            {% endif %}
    
            {% if error_msg %}
                <div class="alert alert-danger">{{error_msg}}</div>
            {% endif %}
            
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div class="container">
                <h6 class="text-muted">Project developed at <a href="http://ccg.murdoch.edu.au" target="_blank">Centre for Comparative Genomics</a>, <a href="http://www.murdoch.edu.au" target="_blank">Murdoch University</a> &copy <script>document.write(new Date().getFullYear())</script></h6>
            </div>
        </div>
        
    <script>/*
        var editor = CodeMirror.fromTextArea(document.getElementById('criteria'), {
            mode: "application/json",
            lineNumbers: true
        });

        var editor = CodeMirror.fromTextArea(document.getElementById('projection'), {
            mode: "application/javascript",
            lineNumbers: true
        });*/
    </script>
        
    <script>
        $(document).ready(function(){
            $('#collection').hide();
            $('#results').hide();
            $('#query-parameters').hide();

            $("#database").change(function(){
                $('#results-head').empty();
                $('#results-body').empty();
                $('#results').fadeOut();
                $.getJSON("/viewer/db/" + this.value, function(data) {
                    $('#collection').fadeOut(function() {
                        $('#collection').empty();
                        $.each(data, function(index, value) {
                            $('#collection').append($("<option></option>").attr("value", value).text(value));
                        });
                        $("#collection").val('{{form.collection.value}}');
                        $('#collection').fadeIn("slow");
                        $('#collection').change();
                    });
                });
            });
            
            $('#collection').change(function() {
                $('#keys-table').empty();
                if (this.value != '') {
                    var proj_data = $('#projection').val();

                    var projection = {}
                    if (proj_data != 'None') {
                        projection = jQuery.parseJSON(proj_data);
                    }

                    $.getJSON("/viewer/collection/" + $("#database").val() + "/" + this.value, function(data) {
                        $.each(data, function(index, value) {
                            var checkbox = null;
                            if(projection[value] != null && projection[value] === 1) {
                                checkbox = "<input name='field_box_'"+ value +"' checked id='" + value + "' type='checkbox'> "+ value + "</input>";
                            } else {
                                checkbox = "<input name='field_box_'"+ value +"' id='" + value + "' type='checkbox'> "+ value + "</input>";
                            }
                            var row = $('<tr></tr>').append('<td></td>').html(checkbox);
                            $('#keys-table').append(row);
                        });
                        $('#query-parameters').show();
                    }).done(function() {
                        $('input[name^=field_box_]').on('click', function() {
                            if (this.checked == true) {
                                projection[this.id] = 1;
                            } else {
                                delete projection[this.id];
                            }
                            $('#projection').val(JSON.stringify(projection));
                        });
                    });
                }
            });
            
            $('#submit-query').click(function() {
                $('#results').fadeOut(function() {
                    $.post('', $("#query-form").serialize())
                        .error(function(xhr, textStatus, error) { 
                            $("#response_error").text(textStatus);
                            $("#response_error").fadeIn().delay(3000).fadeOut();
                        })
                        .done(function( data ) {
                            var response = jQuery.parseJSON(data);
                            if ($.isEmptyObject(response)) {
                                $("#response_error").text("No results");
                                $("#response_error").fadeIn().delay(3000).fadeOut();
                                return;
                            }
                            
                            $('#results-head').empty();
                            $('#results-body').empty();

                            $.each(response[0], function(key, value) {
                                $('#results-head').append($("<th></th>").text(key));
                            });
                            
                            $.each(response, function(key, value) {
                                var row = $('<tr></tr>');
                                $.each(value, function(key, value) {
                                    if (value instanceof Array) {
                                        
                                    }
                                    row.append($('<td></td>').text(value));
                                });
                                $('#results-body').append(row);
                            });

                            //$('#hide-form-btn').click();
                            $('#results').fadeIn();
                    });
                });
            });
            
            $('#hide-form-btn').click(function() {
                $('#query-form-table').toggle("blind", function() {
                    if($('#query-form-table').is( ":visible" )) {
                        $('#hide-form-btn').html('Hide form');
                    } else {
                        $('#hide-form-btn').html('Show form');
                    }
                });
            });
            
            $('#hide-description-btn').click(function() {
                $('#query-description').toggle("blind", function() {
                    if($('#query-description').is( ":visible" )) {
                        $('#hide-description-btn').html('Hide description');
                    } else {
                        $('#hide-description-btn').html('Show description');
                    }
                });
            });
            
            $("#database").val('{{form.database.value}}');
            $("#database").change();
            
        });
    </script>

    </body>
</html>