{% extends "viewer/base.html" %}

{% block content %}

    <form name='query-form' id='query-form' method='post'>
        {% csrf_token %}
        <button id="hide-form-btn" type="button" class="btn btn-primary btn-sm">Hide form</button>
        <button type="button" name="" id="api-query" class="btn btn-success btn-sm">Load Patients</button>
        <hr>
        <div class="form-group" style="margin-top: 30px;">
            <input type="text" class="form-control" id="title" name='title' placeholder="Title" value="{{form.title.value|default_if_none:""}}">
        </div>
        
        <div class="form-group">
            <textarea  placeholder="Description" class="form-control" cols="40" id="description" name="description" rows="5">{{form.description.value}}</textarea>
        </div>
        <hr>

        <div name='api-results' id='api-results'>
            <!--<div class="panel panel-default">
                <div class="panel-body">-->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr id='api-results-head'></tr>
                        </thead>
                        <tbody id='api-results-body'>
                        </tbody>
                    </table>
                <!--</div>
            </div>-->
        </div>
        
        {% if status %}
            Database: 
            <select id='database' name='database'>
                {% for db in databases %}
                    <option id='{{db}}'>{{db}}</option>
                {% endfor %}
            </select>
            <select id='collection' name='collection'>
                {% for coll in collections %}
                    <option id='{{coll}}'>{{coll}}</option>
                {% endfor %}
            </select>
        {% endif %}
    
        <div class="form-group">
            <input type="hidden" value="{{form.created_by.value|default_if_none:request.user.username}}" class="form-control" id="created_by" name="created_by" placeholder="Created by">
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Criteria</span>
                    </div>
                    <div class="panel-content">
                        <textarea class="form-control" cols="40" id="criteria" name="criteria" rows="8">{{form.criteria.value}}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Fields to display</span>
                    </div>
                    <div class="panel-content">
                        <textarea class="form-control" cols="40" id="projection" name="projection" rows="8">{{form.projection.value}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" name="" id="submit-query" class="btn btn-success">Run</button>
        </div>
    
    </form>

    <div name='results' id='results' style='padding-top: 50px;'>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr id='results-head'></tr>
                    </thead>
                    <tbody id='results-body' class="table-hover ">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}