{% extends "viewer/base.html" %}

{% block content %}    
{{form.errors}}
    <form name='query-form' id='query-form' class="form" method='post'>
        {% csrf_token %}
        <input type="hidden" name="collection" id="collection" value="cdes">
    
        <button id="hide-description-btn" type="button" class="btn btn-primary btn-sm">Hide description</button>
        <button id="hide-form-btn" type="button" class="btn btn-primary btn-sm">Hide form</button>

        <div class="pull-right">
            <button type="button" class="btn btn-warning btn-sm" id="sql-submit-query">Validate SQL</button>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <button type="button" name="" id="submit-query" class="btn btn-success btn-sm">Run</button>
        </div>

        <div id="query-description">
            <hr>
            <div class="form-group" style="margin-top: 30px;">
                <input type="text" class="form-control" id="title" name='title' placeholder="Title" value="{{form.title.value|default_if_none:""}}">
            </div>
            
            <div class="form-group">
                <textarea  placeholder="Description" class="form-control" cols="40" id="description" name="description" rows="5">{{form.description.value}}</textarea>
            </div>
        </div>
        
        <hr/>

        <div class="form-group">
            <label for="registry">Registry</label>
            <!--<select id="id_registry" name="registry" class="form-control">-->
                {{form.registry}}
            <!--</select>-->
        </div>

        <hr>
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" id="query-error">
                
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <textarea placeholder="Patient SQL query" class="form-control" rows="10" id="sql_query" name="sql_query">{{ form.sql_query.value }}</textarea>
                    <div class="pull-left" id="query-result-count" style="color: green;">
                    </div>
                </div>    
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr id='query-result-head'></tr>
                    </thead>
                    <tbody id='query-result-body' class="table-hover ">
                    </tbody>
                </table>
            </div>
        </div>
        
        <hr>
        
        <div id="query-form-table">
            <div class="form-group">
                <input type="hidden" value="{{form.created_by.value|default_if_none:request.user.username}}" class="form-control" id="created_by" name="created_by" placeholder="Created by">
            </div>
    
            <div class="row" id="query-parameters">
                <div class="col-md-6">
                    <textarea class="form-control" cols="40" id="criteria" name="criteria" rows="8">{{form.criteria.value}}</textarea>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" cols="40" id="projection" name="projection" rows="8">{{form.projection.value}}</textarea>
                </div>
            </div>
        </div>
        
    </form>

    <div name='results' id='results' style='padding-top: 50px;'>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr id='results-head'></tr>
                    </thead>
                    <tbody id='results-body' class="table-hover ">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}